{{#partial "headcode" }}
{{/partial}}

{{#partial "footercode" }}
{{/partial}}

{{#partial "content" }}
<div class="container min-height-container">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <center>
                    <h2>Overall Performance Report</h2>
                </center>
                <div style="height: 450px">
                    <input type="hidden" id="overallPerformance" value="{{overallPerformance}}" />
                    <center><div id="overall-performance-pie-chart" style="height: 400px;"></div></center>
                </div>
            </div>
        </div>
    </div>
    <div>
        <center>
            <a href="{{courswisePerformanceReportsUrl}}"
                class="btn btn-success">View Course-wise Performance Report</a>
            <a href="{{examwisePerformanceReportsUrl}}"
                class="btn btn-success">View Exam-wise Performance Report</a>
        </center>
        </br>
    </div>
</div><!-- /container -->
{{/partial}}
{{> app/common/master }}