{{#partial "headcode" }}
{{/partial}}
{{#partial "footercode" }}
{{/partial}}
{{#partial "content" }}
<div class="page-wrapper">
   <div class="container">
      <center>
         <br/>
         <h2 style="color:red">Error 404</h2>
         <br/>
         <h2>The page you are trying to locate does not exists. Please contact sales@miniseva.com for any further queries.</h2>
         <br/>
      </center>
   </div>
</div>
{{/partial}}
{{> common/master }}