{{#partial "headcode" }}
{{/partial}}
{{#partial "footercode" }}
{{/partial}}
{{#partial "content" }}
<div class="page-wrapper">
   <div class="container">
      <center>
         <br/>
         <h2 style="color:red">Error!</h2>
         <br/>
         <h2 >You are connected to offline server which do not have facility to buy any product. Please contact your school administration if you would like to buy any product.</h2>
         <br/>
      </center>
   </div>
</div>
{{/partial}}
{{> common/master }}